@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.font-custom {
    font-family: 'Playfair Display', serif !important;
}

.font-custom-1 {
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 9px!important; 
    text-transform: uppercase!important;
    font-weight: 600!important;
}

.img-hover {
    transition: transform 0.3s;
}

.img-hover:hover {
    transform: scale(1.05);
}